@charset "UTF-8";
.sidebar {
    width: 465px;
    height: 1240px;
    background-color: #CEB888;
    display: inline-block;
}

.profile-area {
    background-color: #CEB888;
    border: none;
    color: black;
    width: 465px;
    height: 175px;
    vertical-align: top;
    float: left;
}
.profile-bar {
    background-color: #373A36;
    border: none;
    color: black;
    width: 465px;
    height: 10px;
    float: left;
}
.profile-button {
    height: 100px;
    width: 200px;
    background-color:#CEB888;
    cursor: pointer;
    margin-left: 0%;
    font-size: 24pt;
    border: none;
    border-radius: 15px;
}
.profile-button:hover {background-color: #B89954; transition: .3s;}
.home-button {
    height: 100px;
    width: 100px;
    background-color:#CEB888;
    cursor: pointer;
    border: none;
    border-radius: 250px;
}
.home-button:hover {background-color: #B89954; transition: .3s;}
.settings-button {
    height: 100px;
    width: 250px;
    background-color:#CEB888;
    cursor: pointer;
    margin-left: 0%;
    border-radius: 15px;
    font-size: 16px;
}
.settings-button:hover {background-color: #B89954; transition: .3s;}

.dropbtn1 {
    background-color: #CEB888;
    color: Black;
    padding: 16px;
    font-size: 26px;
    border: none;
    height: 140px;
    width: 350px;
    border-radius: 15px;
    margin-left: 2%;
}
.dropbtn2 {
    background-color: #CEB888;
    color: Black;
    padding: 16px;
    font-size: 26px;
    border: none;
    height: 140px;
    width: 350px;
    border-radius: 15px;
    margin-left: 2%;
}
.dropbtn3 {
    background-color: #CEB888;
    color: Black;
    padding: 16px;
    font-size: 26px;
    border: none;
    height: 140px;
    width: 350px;
    border-radius: 15px;
    margin-left: 6%;
}
.dropbtn4 {
    background-color: #CEB888;
    color: Black;
    padding: 16px;
    font-size: 26px;
    border: none;
    height: 140px;
    width: 350px;
    border-radius: 15px;
    margin-left: 6%;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content1 {
    display: none;
    position: absolute;
    background-color: #373A36;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-left: 2%;
    border-radius: 10px;

}
.dropdown-content2 {
    display: none;
    position: absolute;
    background-color: #373A36;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-left: 2%;
    border-radius: 10px;
}
.dropdown-content3 {
    display: none;
    position: absolute;
    background-color: #373A36;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-left: 20%;
    border-radius: 10px;
}
.dropdown-content4 {
    display: none;
    position: absolute;
    background-color: #373A36;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-left: 5%;
    border-radius: 10px;
}
.dropdown-content1 a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content2 a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content3 a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content4 a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content1 a:hover {background-color: #515650; transition: .3s; border-radius: 10px;}
.dropdown:hover .dropdown-content1 {display: block;}
.dropdown:hover .dropbtn1 {background-color: #B89954; transition: .3s; border-radius: 10px;}

.dropdown-content2 a:hover {background-color: #515650; transition: .3s; border-radius: 10px;}
.dropdown:hover .dropdown-content2 {display: block;}
.dropdown:hover .dropbtn2 {background-color: #B89954; transition: .3s; border-radius: 10px;}

.dropdown-content3 a:hover {background-color: #515650; transition: .3s; border-radius: 10px;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn3 {background-color: #B89954; transition: .3s; border-radius: 10px;}

.dropdown-content4 a:hover {background-color: #515650; transition: .3s; border-radius: 10px;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn4 {background-color: #B89954; transition: .3s; border-radius: 10px;}

.zoom_outer {
    width: 2000px;
    height: 1230px;
    display: inline-block;
    margin-left: 50px;
}