@charset "UTF-8";

.box {
    width: 75%;
    height: 90%;
    display: inline-block;
    float: right;
    margin-top: 0.75%;
    margin-left: 1%;
    margin-right: 2%;
    background-color: #CEB888;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.history-area {
    margin-left: 6%;
    margin-top: 4%;
    width: 42%;
    height: 80%;
    display: inline-block;

}
.favorites-area {
    margin-right: 5%;
    margin-top: 4%;
    width: 42%;
    height: 80%;
    display: inline-block;
    float: right;
}

.historyButton {
    width: 80%;
    height: 10%;
    font-size: 12px;
    background-color: #333;
    color: white;
}
.historyButton:hover {background-color: #373A36; transition: .3s; color: white;}

.bookButton {
    width: 15%;
    height: 5%;
    font-size: 20px;
    background-color: #333;
    color: white;
    border: thick;
    border-radius: 12px;
    margin-left: 4%;
    margin-top: 3%;
}
.bookButton:hover {background-color: #373A36; transition: .3s; color: white;}

.favoritesButton {
    width: 80%;
    height: 10%;
    font-size: 14px;
}
.favoritesButton:hover {background-color: #373A36; transition: .3s; color: white;}