@charset "UTF-8";
.sidebar {
    width: 465px;
    height: 1230px;
    background-color: #CEB888;
    display: inline-block;
    margin-left: 10px;
    border-radius: 10px;
}

.profile-area {
    background-color: #CEB888;
    border: none;
    color: black;
    width: 465px;
    height: 175px;
    vertical-align: top;
    float: left;
}
.profile-bar {
    background-color: #373A36;
    border: none;
    color: black;
    width: 465px;
    height: 10px;
    float: left;
}
.profile-button {
    height: 100px;
    width: 250px;
    background-color:#CEB888;
    cursor: pointer;
    margin-left: 15px;
    font-size: 24pt;
    border: none;
    border-radius: 15px;
    margin-top: 0px;
}
.profile-button:hover {background-color: #B89954; transition: .3s;}
.home-button {
    height: 100px;
    width: 100px;
    background-color:#CEB888;
    cursor: pointer;
    border: none;
    border-radius: 250px;
    margin-left: 0px;
}
.home-button:hover {background-color: #B89954; transition: .3s;}
.settings-button {
    height: 100px;
    width: 350px;
    background-color:#CEB888;
    cursor: pointer;
    margin-right: 0%;
    border-radius: 15px;
    font-size: 24px;
    margin-bottom: 15px;
    vertical-align: bottom;
    border: none;
}
.settings-button:hover {background-color: #B89954; transition: .3s;}

.bookBtn {
    background-color: #CEB888;
    color: Black;
    padding: 16px;
    font-size: 26px;
    border: none;
    height: 140px;
    width: 350px;
    border-radius: 5px;
    margin-right: 0%;
    display: inline-block;
    z-index: 5;
}
.favoriteBtn {
    background-color: #CEB888;
    color: Black;
    font-size: 26px;
    border: none;
    height: 140px;
    width: 350px;
    border-radius: 5px;
    margin-left: 15px;
    display: inline-block;
}
.palsBtn {
    background-color: #CEB888;
    color: Black;
    padding: 16px;
    font-size: 26px;
    border: none;
    height: 140px;
    width: 350px;
    border-radius: 5px;
    margin-left: 15px;
}
.reportBtn {
    background-color: #CEB888;
    color: Black;
    padding: 16px;
    font-size: 26px;
    border: none;
    height: 140px;
    width: 350px;
    border-radius: 5px;
    margin-left: 0%;
}

.dropdown {
    position: relative;
    display: inline-block;
    z-index: 5;
}

.dropdown-content1 {
    display: none;
    position: relative;
    background-color: #373A36;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 5;
    margin-left: 2%;
    border-radius: 10px;
}

.dropdown-content1 a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    z-index: 5;
}

.dropdown-content1 a:hover {background-color: #515650; transition: .3s; border-radius: 10px; z-index: 5;}
.dropdown:hover .dropdown-content1 {display: block; z-index: 5;}

.dropdown:hover .bookBtn {background-color: #B89954; transition: .3s; border-radius: 35px; z-index: 5;}
.dropdown:hover .favoriteBtn {background-color: #B89954; transition: .3s; border-radius: 35px; z-index: 5;}
.dropdown:hover .palsBtn {background-color: #B89954; transition: .3s; border-radius: 35px; z-index: 5;}
.dropdown:hover .reportBtn {background-color: #B89954; transition: .3s; border-radius: 35px; z-index: 5;}

.favorite:hover {background-color: #B89954; transition: .3s; border-radius: 35px; z-index: 5;}

.zoom_outer {
    width: 2000px;
    height: 1220px;
    display: inline-block;
    margin-left: 50px;
    position: relative;
}

.zoom_outer img {
    width: 100%;
    height: auto;
}

.zoom_outer .corecbutton {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-500%, -90%);
    background-color: #373A36;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    width: 90px;
    height: 130px;
}
.zoom_outer .nwbutton {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(640%, -10%);
    background-color: #373A36;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    width: 90px;
    height: 70px;
}


.zoom_outer .univbutton {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(135%, 290%);
    background-color: #373A36;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    width: 80px;
    height: 80px;
}
.zoom_outer .rossbutton {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-15%, -760%);
    background-color: #373A36;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    width: 80px;
    height: 80px;
}
.zoom_outer .mccutchbutton {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-915%, 220%);
    background-color: #373A36;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    width: 80px;
    height: 110px;
}
.zoom_outer .grantbutton {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(990%, 455%);
    background-color: #373A36;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    width: 70px;
    height: 80px;
}
.zoom_outer .corecbutton:hover {
    transition: .3s;
    border-radius: 15px;
    background-color: #CEB888;
}
.zoom_outer .nwbutton:hover {
    transition: .3s;
    border-radius: 15px;
    background-color: #CEB888;
}
.zoom_outer .univbutton:hover {
    transition: .3s;
    border-radius: 15px;
    background-color: #CEB888;
}
.zoom_outer .rossbutton:hover {
    transition: .3s;
    border-radius: 15px;
    background-color: #CEB888;
}
.zoom_outer .mccutchbutton:hover {
    transition: .3s;
    border-radius: 15px;
    background-color: #CEB888;
}
.zoom_outer .grantbutton:hover {
    transition: .3s;
    border-radius: 15px;
    background-color: #CEB888;
}

.corec-popup {
    display: none;
    position: fixed;
    width: 350px;
    height: 920px;
    left: 35%;
    top: 10%;
    background: #CEB888;
    z-index: 20;
}

#corec-popup:after {
    position: fixed;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0,0,0,0.5);
    z-index: -2;
}

#corec-popup:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #FFF;
    z-index: -1;
}

.mccutch-popup {
    display: none;
    position: fixed;
    width: 350px;
    height: 920px;
    left: 35%;
    top: 10%;
    background: #CEB888;
    z-index: 20;
}

#mccutch-popup:after {
    position: fixed;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0,0,0,0.5);
    z-index: -2;
}

#mccutch-popup:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #FFF;
    z-index: -1;
}

.rossade-popup {
    display: none;
    position: fixed;
    width: 350px;
    height: 920px;
    left: 35%;
    top: 10%;
    background: #CEB888;
    z-index: 20;
}

#rossade-popup:after {
    position: fixed;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0,0,0,0.5);
    z-index: -2;
}

#rossade-popup:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #FFF;
    z-index: -1;
}

.nw-popup {
    display: none;
    position: fixed;
    width: 350px;
    height: 920px;
    left: 35%;
    top: 10%;
    background: #CEB888;
    z-index: 20;
}

#nw-popup:after {
    position: fixed;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0,0,0,0.5);
    z-index: -2;
}

#nw-popup:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #FFF;
    z-index: -1;
}

.univ-popup {
    display: none;
    position: fixed;
    width: 350px;
    height: 920px;
    left: 35%;
    top: 10%;
    background: #CEB888;
    z-index: 20;
}

#univ-popup:after {
    position: fixed;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0,0,0,0.5);
    z-index: -2;
}

#univ-popup:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #FFF;
    z-index: -1;
}

.grant-popup {
    display: none;
    position: fixed;
    width: 350px;
    height: 920px;
    left: 35%;
    top: 10%;
    background: #CEB888;
    z-index: 20;
}

#grant-popup:after {
    position: fixed;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0,0,0,0.5);
    z-index: -2;
}

#grant-popup:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #FFF;
    z-index: -1;
}


.inside {
    background-color: #CEB888;
    height: 920px;
    width: 350px;
}

.permit_pic  {
    text-indent: 14px;
    float: left;
    margin: 0 15px 0 0;
}

.hours {
    clear: left
}

.hours_pic {
    text-indent: 5px;
    float: left;
    clear: left;
    margin: 0 15px 0 0;
}

.spots {
    clear: left
}

.spots_pic {
    text-indent: 5px;
    float: left;
    clear: left;
    margin: 0 15px 0 0;
}

.reserve-button {
    height: 100px;
    width: 340px;
    background-color:#CEB888;
    cursor: pointer;
    margin-left: 5px;
    border-radius: 15px;
    font-size: 24px;
}

.reserve-button:hover {background-color: #373A36; color: white; transition: .3s;}

.close {
    height: 50px;
    width: 340px;
    background-color:#CEB888;
    cursor: pointer;
    margin-top: 20px;
    margin-right: 5px;
    border-radius: 15px;
    font-size: 16px;
    border: 2px;
}

.close:hover {background-color: #373A36; color: white; transition: .3s;}

.favBtn {
    font-size: 20px;
    width: 220px;
    height: 60px;
    margin-left: 20px;
    margin-top: 30px;
    background-color: #CEB888;
    border-radius: 10px;
    display: inline-block;
}

.favBtn:hover {background-color: #373A36; color: white; transition: .3s;}