@charset "UTF-8";

body {
    background-color: #333;
    font-family: Verdana, Helvetica, sans-serif;
}

.sidebarPageButtons {
    width: 58%;
    height: 7.5%;
    background-color: #D6C49B;
    color: black;
    border-radius: 5px;
    cursor: pointer;
    float: right;
    margin-right: 6%;
    margin-top: 3%;
    overflow: hidden;

}

.sidebarPageButtons:hover {
    background-color: #B89954;
    transition: .3s;
    border-radius: 15px;
    overflow: hidden;

}

.sidebarPageIcons {
    width: 25%;
    height: 7.5%;
    float: left;
    margin-left: 4%;
    margin-top: 3%;
    overflow: hidden;

}

.sidebar {
    width: 20%;
    height: 90%;
    background-color: #CEB888;
    display: inline-block;
    margin-left: 2%;
    border-radius: 10px;
    margin-top: 0.75%;
    overflow: hidden; /* not this one*/

}

.profile-area {
    width: fit-content;
    display: inline-block;
    border: medium #0E0101;
    overflow: hidden;

}

.profile-pic {
    height: 17%;
    width: 45%;
    align-self: center;
    margin-left: 27.5%;
    margin-top: 5%;
    margin-bottom: 5%;
    overflow: hidden;

}

.profile-button {
    width: 60%;
    height: 8%;
    background-color: #D6C49B;
    color: black;
    margin-left: 6%;
    margin-right: 5%;
    border-radius: 5px;
    cursor: pointer;
    overflow: hidden;

}

.profile-button:hover {
    background-color: #B89954;
    transition: .3s;
    border-radius: 15px;
    overflow: hidden;

}

.home-button {
    width: 20%;
    height: 8%;
    background-color: #D6C49B;
    border-radius: 5px;
    cursor: pointer;
    overflow: hidden;

}

.home-button:hover {
    background-color: #B89954;
    transition: .3s;
    border-radius: 15px;
    overflow: hidden;

}

.button-area {
    width: fit-content;
    display: inline-block;
    border: medium #0E0101;
    margin-top: 1%;
    overflow: hidden;

}

.dropdown {
    position: relative;
    display: inline-block;
    z-index: 100;
    overflow: visible;

}

.dropdown-content1 {
    display: none;
    position: relative;
    background-color: #373A36;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 5;
    border-radius: 5px;
    overflow: hidden;

}

.dropdown-content1 a {
    color: white;
    text-decoration: none;
    display: block;
    z-index: 5;
    padding: 5px 5px;
    overflow: hidden;

}

.dropdown-content1 a:hover {
    background-color: #515650;
    transition: .3s;
    border-radius: 10px;
    z-index: 5;
    overflow: hidden;

}

.dropdown:hover .dropdown-content1 {
    display: block;
    z-index: 5;
    overflow: hidden;

}

.dropdown:hover .bookBtn {background-color: #B89954; transition: .3s; border-radius: 35px; z-index: 5;}
.dropdown:hover .favoriteBtn {background-color: #B89954; transition: .3s; border-radius: 35px; z-index: 5;}
.dropdown:hover .palsBtn {background-color: #B89954; transition: .3s; border-radius: 35px; z-index: 5;}
.dropdown:hover .reportBtn {background-color: #B89954; transition: .3s; border-radius: 35px; z-index: 5;}

.favorite:hover {background-color: #B89954; transition: .3s; border-radius: 35px; z-index: 5;}

.zoom_outer {
    width: 75%;
    height: 90%;
    margin-left: 10px;
    display: inline-block;
    position: relative;
    overflow: hidden;

}

.zoom_outer img {
    width: 90%;
    height: 90%;
    overflow: hidden;

}

.zoom_outer .corecbutton {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-450%, -90%);
    background-color: #373A36;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    width: 5%;
    height: 10%;
    overflow: hidden;

}
.zoom_outer .nwbutton {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(575%, 0%);
    background-color: #373A36;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    width: 5%;
    height: 4.5%;
    overflow: hidden;

}
.zoom_outer .univbutton {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(100%, 290%);
    background-color: #373A36;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    width: 5%;
    height: 6.5%;
    overflow: hidden;

}
.zoom_outer .rossbutton {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-15%, -700%);
    background-color: #373A36;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    width: 5%;
    height: 7%;
    overflow: hidden;

}
.zoom_outer .mccutchbutton {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-815%, 210%);
    background-color: #373A36;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    width: 4.5%;
    height: 9%;
    overflow: hidden;

}
.zoom_outer .grantbutton {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(850%, 500%);
    background-color: #373A36;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    width: 4%;
    height: 6%;
    overflow: hidden;

}
.zoom_outer .corecbutton:hover {
    transition: .3s;
    border-radius: 15px;
    background-color: #CEB888;
    overflow: hidden;

}
.zoom_outer .nwbutton:hover {
    transition: .3s;
    border-radius: 15px;
    background-color: #CEB888;
    overflow: hidden;

}
.zoom_outer .univbutton:hover {
    transition: .3s;
    border-radius: 15px;
    background-color: #CEB888;
    overflow: hidden;

}
.zoom_outer .rossbutton:hover {
    transition: .3s;
    border-radius: 15px;
    background-color: #CEB888;
    overflow: hidden;

}
.zoom_outer .mccutchbutton:hover {
    transition: .3s;
    border-radius: 15px;
    background-color: #CEB888;
    overflow: hidden;

}
.zoom_outer .grantbutton:hover {
    transition: .3s;
    border-radius: 15px;
    background-color: #CEB888;
    overflow: hidden;

}

.corec-popup {
    display: none;
    position: fixed;
    width: 350px;
    height: 920px;
    left: 35%;
    top: 10%;
    background: #CEB888;
    z-index: 20;
    overflow: hidden;

}

#corec-popup:after {
    position: fixed;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0,0,0,0.5);
    z-index: -2;
    overflow: hidden;

}

#corec-popup:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #FFF;
    z-index: -1;
    overflow: hidden;

}

.mccutch-popup {
    display: none;
    position: fixed;
    width: 350px;
    height: 920px;
    left: 35%;
    top: 10%;
    background: #CEB888;
    z-index: 20;
    overflow: hidden;

}

#mccutch-popup:after {
    position: fixed;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0,0,0,0.5);
    z-index: -2;
    overflow: hidden;

}

#mccutch-popup:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #FFF;
    z-index: -1;
    overflow: hidden;

}

.rossade-popup {
    display: none;
    position: fixed;
    width: 350px;
    height: 920px;
    left: 35%;
    top: 10%;
    background: #CEB888;
    z-index: 20;
    overflow: hidden;

}

#rossade-popup:after {
    position: fixed;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0,0,0,0.5);
    z-index: -2;
    overflow: hidden;

}

#rossade-popup:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #FFF;
    z-index: -1;
    overflow: hidden;

}

.nw-popup {
    display: none;
    position: fixed;
    width: 350px;
    height: 920px;
    left: 35%;
    top: 10%;
    background: #CEB888;
    z-index: 20;
    overflow: hidden;

}

#nw-popup:after {
    position: fixed;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0,0,0,0.5);
    z-index: -2;
    overflow: hidden;

}

#nw-popup:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #FFF;
    z-index: -1;
    overflow: hidden;

}

.univ-popup {
    display: none;
    position: fixed;
    width: 350px;
    height: 920px;
    left: 35%;
    top: 10%;
    background: #CEB888;
    z-index: 20;
    overflow: hidden;

}

#univ-popup:after {
    position: fixed;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0,0,0,0.5);
    z-index: -2;
    overflow: hidden;

}

#univ-popup:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #FFF;
    z-index: -1;
    overflow: hidden;

}

.grant-popup {
    display: none;
    position: fixed;
    width: 350px;
    height: 920px;
    left: 35%;
    top: 10%;
    background: #CEB888;
    z-index: 20;
    overflow: hidden;

}

#grant-popup:after {
    position: fixed;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0,0,0,0.5);
    z-index: -2;
    overflow: hidden;

}

#grant-popup:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #FFF;
    z-index: -1;
    overflow: hidden;

}


.inside {
    background-color: #CEB888;
    height: 920px;
    width: 350px;
    overflow: hidden;

}

.permit_pic  {
    text-indent: 14px;
    float: left;
    margin: 0 15px 0 0;
    overflow: hidden;

}

.hours {
    clear: left;
    overflow: hidden;

}

.hours_pic {
    text-indent: 5px;
    float: left;
    clear: left;
    margin: 0 15px 0 0;
    overflow: hidden;

}

.spots {
    clear: left;
    overflow: hidden;

}

.spots_pic {
    text-indent: 5px;
    float: left;
    clear: left;
    margin: 0 15px 0 0;
    overflow: hidden;

}

.reserve-button {
    height: 100px;
    width: 340px;
    background-color:#CEB888;
    cursor: pointer;
    margin-left: 5px;
    border-radius: 15px;
    font-size: 24px;
    overflow: hidden;

}

.reserve-button:hover {background-color: #373A36; color: white; transition: .3s;}

.close {
    height: 50px;
    width: 340px;
    background-color:#CEB888;
    cursor: pointer;
    margin-top: 20px;
    margin-right: 5px;
    border-radius: 15px;
    font-size: 16px;
    border: 2px;
    overflow: hidden;

}

.close:hover {background-color: #373A36; color: white; transition: .3s;}

.favBtn:hover {background-color: #373A36; color: #000000; transition: .3s;}