@charset "UTF-8";

.profile-page-pic {
    width: 200px;
    height: 200px;
    margin-top: 3%;
    margin-left: 3%;
}

.name-header {
    display: inline-block;
    margin-left: 1%;
}

.edit-picture-button {
    background-color: #333;
    color: white;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    padding: 5px 10px;
    margin-left: 6%;
    margin-top: 2%;
}

.edit-picture-button:hover {
    background-color: #555;
    transition: .3s;
    border-radius: 15px;
}

.logout-button{
    float: right;
    position: relative;
    margin-top: 3%;
    margin-right: 3%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    background-color: #333;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 10px;
}

.logout-button:hover {
    background-color: #555;
    transition: .3s;
    border-radius: 15px;
}

.trash {
    display: inline-block;
    margin-top: 16%;
    margin-left: 1%;
    width: 30px;
    height: 30px;
}

#trash-image:hover{
    background-color: #555;
}

.user-info {
    margin-left: 3%;
    margin-top: 5%;
}

.car-1 {
    margin-left: 50%;
    margin-top: -38%;
}

.car-2 {
    margin-left: 67%;
    margin-top: -22.1%;
}

input {
    margin-top: -1%;
    margin-bottom: 1%;
}

.box {
    width: 75%;
    height: 90%;
    margin-left: 1%;
    display: inline-block;
    vertical-align: top;
    margin-top: 0.75%;
    background-color: #CEB888;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

body {
    font-family: Verdana, Helvetica, sans-serif;
    font-size: medium;
    background-color: #333;
}

.profile {
    background-color: transparent;
    opacity: 100%;
}

.text-field {
    border-radius: 5px;
}

.delete-button {
    background-color: #333;
    color: white;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    margin-left: 15%;
    display: inline-block;
    padding: 5px 10px;
    float: right;
    margin-right: 2%;
    margin-top: -3%;
}

.delete-button:hover {
    background-color: #555;
    transition: .3s;
    border-radius: 15px;
}

.save-button {
    background-color: #333;
    color: white;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    margin-left: 50%;
    display: inline-block;
    padding: 5px 10px;
}

.save-button:hover {
    background-color: #555;
    transition: .3s;
    border-radius: 15px;
}

.permits {
    margin-top: 15%;
    margin-left: 5%;
}

.edit-popup {
    position: fixed;
    top: 27%;
    left: 38%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    display: none;
}

#edit-popup:after {
    position: fixed;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0,0,0,0.5);
    z-index: -2;
}

#edit-popup:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #FFF;
    z-index: -1;
}

.edit-popup label {
    display: block;
    margin-bottom: 10px;
}

.edit-popup input[type="file"] {
    margin-bottom: 10px;
}