@charset "UTF-8";
#register-box {
    border-radius: 25px;

    margin: auto;
    width: 850px;
    height: 375px;
    padding: 5px;
    background-color: lightslategray;
    margin-top: 150px;
    opacity: 0.90;
}

#logo {
    width: 250px;
    height: 250px;
    float: left;
}
#gender-radio {
    float: right;
    margin-top: -200px;
    margin-right: 50px;
}
#register-button {
    background-color: #DCAC05;
    border: none;
    border-radius: 12px;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 120px;
}
#register-button:hover {
    transition: .3s;
    background-color: #B89954;
}

#go-back-button:hover {
    transition: .3s;
    background-color: #B89954;
}
#go-back-button {
    background-color: #DCAC05;
    border: none;
    border-radius: 12px;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 150px;
    margin-left: 10px;
}


.register-input-box {
    border-color: blue;
    width: 550px;
    height: 350px;
    float: right;

}
